<a href="https://colab.research.google.com/github/aviraltyagi/DeepLearningArchitectures/blob/main/Classification/1)_Linear_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content'

In [17]:
!kaggle datasets download -d uciml/breast-cancer-wisconsin-data

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
Downloading breast-cancer-wisconsin-data.zip to /content
  0% 0.00/48.6k [00:00<?, ?B/s]
100% 48.6k/48.6k [00:00<00:00, 17.9MB/s]

In [18]:
!unzip \*.zip && rm *.zip

Archive:  breast-cancer-wisconsin-data.zip
replace data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [43]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [44]:
filePath = "/content/data.csv"
df = pd.read_csv(filePath)
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [45]:
df.isnull().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [46]:
df.drop(['id', 'Unnamed: 32'], axis= 1, inplace= True)
x = df.drop(['diagnosis'], axis= 1)

lbl_encoder = LabelEncoder()

y = pd.Series(lbl_encoder.fit_transform(df['diagnosis']))

In [47]:
std_scaler = StandardScaler()
x = std_scaler.fit_transform(x)

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state= 0)

### Logistic Regression

In [49]:
from sklearn.linear_model import  LogisticRegression

In [50]:
lr = LogisticRegression(random_state= 0)
lr.fit(x_train, y_train)
lr_score = lr.score(x_test, y_test)
print(f"Test Accuracy Logistic Regression: {lr_score}")

Test Accuracy Logistic Regression: 0.9766081871345029

### Ridge Classifier

In [51]:
from sklearn.linear_model import RidgeClassifier

In [52]:
rdg_clf = RidgeClassifier(random_state= 0)
rdg_clf.fit(x_train, y_train)
rdg_score = rdg_clf.score(x_test, y_test)
print(f"Test Accuracy Ridge Classifier: {rdg_score}")

Test Accuracy Ridge Classifier: 0.9590643274853801

### SGD Classifier

In [53]:
from sklearn.linear_model import SGDClassifier

In [54]:
sgd_clf = SGDClassifier(random_state= 0)
sgd_clf.fit(x_train, y_train)
sgd_score = sgd_clf.score(x_test, y_test)
print(f"Test Accuracy SGD Classifier: {sgd_score}")

Test Accuracy SGD Classifier: 0.9707602339181286